#loading{
    background-color: #161510;
    z-index: 5;
    height: 100%;
    width: 100vw;
    position: fixed;
}

.loaded{
    visibility: hidden;
}

.fadeout{
    animation-name: fadeout;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#safe-box{
    position: relative;
    display:block;
    margin: auto;
    margin-top: 12.5%;
    display: block;
    height: 50vh;
    width: 50vh;
}

#drawer1:hover{
    background-color: red;
}

@keyframes fadeout{
    from {opacity: 1;}
    to {opacity: 0;}
}