#navigation{
  background-color: #161510;
  overflow:hidden;
  z-index:1;
  font-size: calc(2pt + 1vw);
}

#navigation ul{
  border: solid white;
}

#navigation li a{
  border: solid;
  }

#navigation a:link{
  color: #D1CABB;
  text-decoration:none;
  }
  
#navigation a:visited{
  color: #D1CABB;
  text-decoration:none;
  } 