#navigation{
  background-color: #161510;
  overflow:hidden;
  z-index:1;
  font-size: calc(3pt + 2.5vh);
}

#navigation li a{
  margin: calc(2vw);
  }

#navigation a:link{
  color: #D1CABB;
  text-decoration:none;
  }
  
#navigation a:visited{
  color: #D1CABB;
  text-decoration:none;
  } 